.header{
    width: 100%;
    padding: 1.5em 0;
    text-align: center;
}
.header__logo{
    display: inline-block;
    padding: 0.5em 1.5em;
    border: 3px solid white;
    color: white;
    font-weight: 700;
    letter-spacing: 0.3em;
    font-size: 1.5em;
}
.header__discription{
    font-size: 0.8em;
    color: white;
    opacity: 0.3;
    padding: 0.5em;
}